.home_title {
    color: #fff;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.h2 {
    color: white;
}

.posts_btn {
    background-color: blue;
    cursor: pointer;
    border-radius: 100px;
    color: white;
    font-size: 24px;
    margin-top: 80px;
}

.posts_btn:hover {
    background-color: rgb(5, 112, 3);
}
